#asset_dust {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}

.particle {
    background-color: var(--white);
    border-radius: 50%;
    position: fixed;
    animation-name: dust_fadein;
    animation-duration: 1000ms;
}

.dfo {
    animation-name: dust_fadeout;
}

@keyframes dust_fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dust_fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}