* {
    font-family: "RocknRoll One", sans-serif;
}

html {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--black);
    line-height: 1.6;
}

code {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-color: var(--a_darkgray);
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 0 5px;
}

::selection {
    color: var(--white);
    background-color: var(--a_strongblue);
}

/* - - - - - - - - - */

/* a */

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:not(.button, .camo) {
    color: var(--a_strongblue);
}

a:hover:active {
    color: inherit;
}

a:hover:active:not(.camo) {
    color: var(--a_yellow);
}

.darkmode a:not(.button, .camo) {
    text-decoration: underline dotted;
}

/* - - - - - - - - - */