/* - - - - - - - - - */

/* - - - - - - - - - */
/* elements */
/* - - - - - - - - - */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#viewport {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}

#viewport,
.gbg {
    --vpdeg: 190deg;
    background-image: linear-gradient(var(--vpdeg), var(--a_darkerblue), var(--a_darkgray));
}

header {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 90;
}

main {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-content: space-evenly;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 42px;
    background-color: var(--black);
    color: var(--white);
    padding: 0 0 10px 16px;
    border-radius: 15px 0 0 0;
    overflow: hidden;
    opacity: 0.3;
    transition-duration: 500ms;
    z-index: 99;
}

footer:hover {
    opacity: 0.6;
}

/* - - - - - - - - - */

hr {
    border-color: var(--white);
}

hr.lightmode {
    border-color: var(--black);
}

/* - - - - - - - - - */

br {
    line-height: 1.6;
}

br.medium {
    line-height: 3.2;
}

br.big {
    line-height: 6.4;
}

/* - - - - - - - - - */

button,
button:hover,
button:hover:active,
button.active,
a.button,
a.button:hover,
a.button:hover:active,
a.button.active {
    color: var(--white);
    text-decoration: none;
}

button.lightmode,
button.lightmode:hover,
button.lightmode:hover:active,
button.lightmode.active,
a.button.lightmode,
a.button.lightmode:hover,
a.button.lightmode:hover:active,
a.button.lightmode.active {
    color: var(--black);
}

button,
button.active,
a.button,
a.button.active {
    transition: 300ms;
}

button,
a.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 0.5rem 1.5rem;
    background-color: var(--a_darkgray);
    border: 1px solid var(--a_lightblue);
    border-radius: 100px;
    text-wrap: nowrap;
}


button.lightmode,
a.button.lightmode {
    background-color: var(--white);
}

button:hover,
a.button:hover {
    background-color: var(--buttonhover);
}

button.lightmode:hover,
a.button.lightmode:hover {
    background-color: var(--lightbuttonhover);
}

button:hover:active,
button.active,
a.button:hover:active,
a.button.active {
    background-color: var(--a_lightblue);
}

button:hover:active,
a.button:hover {
    transition: 10ms;
}

.buttons {
    display: flex;
    margin: 1rem 0;
    overflow-x: scroll;
}

.buttons > * {
    margin: 0 0.5rem;
}

.buttons > *:first-child {
    margin-left: 0;
}

.buttons > *:last-child {
    margin-right: 0;
}

/* - - - - - - - - - */

img {
    display: inline-block;
    height: auto;
    width: auto;
    pointer-events: none;
    user-select: none;
}

/* - - - - - - - - - */

table {
    margin: 0;
    padding: 0;
    color: inherit;
    text-align: left;
    border-collapse: collapse;
}

th,
td {
    width: fit-content;
    vertical-align: baseline;
    padding: 0;
}

th {
    max-width: 20%;
    padding-right: 1rem;
    text-align: right;
}

th:not(.mscontent th) {
    border-right: 1px solid var(--black);
}

td {
    max-width: 80%;
    padding-left: 1rem;
}

.darkmode th {
    border-right: 1px solid var(--white);
}

/* - - - - - - - - - */

/* - - - - - - - - - */
/* classes */
/* - - - - - - - - - */

.bgimage,
.dluibtn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* - - - - - - - - - */

/* dl ui button */

.dluibtn {
    width: 100px;
    height: 100px;
    margin: 0 10px 20px;
    pointer-events: auto;
}

.dluibtn:first-child {
    margin-left: 0;
}

.dluibtn:last-child {
    margin-right: 0;
}

.dluibtn#active {
    cursor: pointer;
}

/* grid-view */

.row {
    display: flex;
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row.center {
    justify-content: center;
    align-items: center;
}

[class*="column-"] {
    float: left;
}

[class*="column-"].bgfloat {
    padding: 10px 20px;
}

[class*="column-"].bgfloat.shadow {
    background-color: var(--strongshadow);
    color: var(--white);
}

.column-5 {
    width: 5%;
}

.column-10 {
    width: 10%;
}

.column-15 {
    width: 15%;
}

.column-20 {
    width: 20%;
}

.column-25 {
    width: 25%;
}

.column-30 {
    width: 30%;
}

.column-35 {
    width: 35%;
}

.column-40 {
    width: 40%;
}

.column-45 {
    width: 45%;
}

.column-50 {
    width: 50%;
}

.column-55 {
    width: 55%;
}

.column-60 {
    width: 60%;
}

.column-65 {
    width: 65%;
}

.column-70 {
    width: 70%;
}

.column-75 {
    width: 75%;
}

.column-80 {
    width: 80%;
}

.column-85 {
    width: 85%;
}

.column-90 {
    width: 90%;
}

.column-95 {
    width: 95%;
}

.column-100 {
    width: 100%;
}

/* - - - - - - - - - */

/* card */
.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 65vw;
    max-width: 1000px;
    height: calc(100vh - 280px);
    min-height: 270px;
    margin: 0 90px;
    box-shadow: 5px 5px 0 var(--shadow);
}

.card > .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--a_darkblue);
    color: var(--white);
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

.card > .content {
    height: 100%;
    margin: 25px;
    color: var(--black);
    overflow: scroll;
}

.card > .content:not(.content.noactions) {
    margin-bottom: 0px;
}

.card > .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 0 10px;
    box-shadow: 0px -5px 50px var(--shadow);
}

.card > .actions > button,
.card > .actions > a.button {
    width: 300px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
    
.card > .actions > button:first-child,
.card > .actions > a.button:first-child {
    margin-left: 0;
}

.card > .actions > button:last-child,
.card > .actions > a.button:last-child {
    margin-right: 0;
}

/* - - - - - - - - - */

/* widescreen */

.widescreen {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
}

.widescreen.center {
    justify-content: center;
}

.widescreen.shadow > * {
    background-color: var(--strongshadow);
    color: var(--white);
}

/* - - - - - - - - - */

/* flexbox containers and frames (single image) / galleries (multiple images) */
.flexbox {
    display: flex;
    align-items: flex-start;
}

.flexbox.column {
    flex-direction: column;
}

.flexbox.center,
.flexbox.column.center {
    align-items: center;
    justify-content: center;
}

.flexbox.center.horizontal {
    justify-content: flex-start;
}

/* - - - - - - - - - */

/* custom headers */
.h1 {
    font-size: 2em;
    font-weight: bold;
}

.h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.h3 {
    font-size: 1.17em;
    font-weight: bold;
}

/* - - - - - - - - - */

/* indented text (notes, quotes, etc.) */
.textbox, .quote {
    padding: 15px 20px;
}

.quote,
.note {
    width: calc(100% - 6rem);
    margin: 1rem 2rem;
    background-color: var(--a_darkgray);
    color: var(--white);
    border-left: 5px solid var(--a_lightblue);
}

.quote {
    font-style: italic;
}

/* - - - - - - - - - */

/* tooltip (popup text on hover) */
.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline dotted;
}

.tooltip .ttpopup {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 600px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -20px;
    background-color: var(--a_darkgray);
    color: var(--white);
    border-radius: 10px;
    text-align: center;
    font-weight: normal;
    padding: 10px 15px 10px 15px;
    box-shadow: 5px 5px 0 var(--shadow);
    transform: translate(-50%, -75%);
    transition: 0.3s;
    z-index: 9;
}

.tooltip:hover .ttpopup {
    visibility: visible;
    opacity: 1;
}

.tooltip .ttpopup::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--a_darkgray) transparent transparent transparent;
}

/* - - - - - - - - - */

/* - - - - - - - - - */
/* ids */
/* - - - - - - - - - */

/* - - - - - - - - - */