@media only screen and not (max-aspect-ratio: 1) {
    .mobileshow {
        display: none;
    }
}


@media only screen and (max-aspect-ratio: 1) {
    html {
        font-size: 12px;
    }

    footer {
        top: 0;
        padding: 0 0 0 15px;
        border-radius: 0 0 0 15px;
    }

    .hnbutton {
        width: 50px;
        height: 50px;
        margin: 0 10px 10px 0;
    }

    .card {
        width: calc(100vw - 20px);
        max-width: none;
        height: calc(100vh - 140px);
        margin: 0;
    }

    .card > .content {
        margin: 10px;
    }

    .card > .content:not(.content.noactions) {
        margin-bottom: 0px;
    }

    .card > .actions > button,
    .card > .actions > a.button {
        width: 150px;
    }

    .mobilehide {
        display: none;
    }

    .row > * {
        margin: 0;
    }

    [class*="column-"] {
        width: 100%;
    }

    /* - - - - - - - - - */
}

/* - - - - - - - - - */