/* - - - - - - - - - */
/* mobile adjust */
/* - - - - - - - - - */

@media only screen and not (max-aspect-ratio: 1) {
    .mobileshow {
        display: none;
    }

    /* - - - - - - - - - */
}


@media only screen and (max-aspect-ratio: 1) {
    html {
        font-size: 12px;
    }

    .card {
        max-width: none;
    }

    .mobilehide {
        display: none;
    }

    .row > * {
        margin: 0;
    }

    [class*="column-"] {
        width: 100%;
    }

    /* - - - - - - - - - */
}

/* - - - - - - - - - */